NODE_ENV=dev

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

APP_SERVICE_PORT=3022

PAYMENTS_GRPC_URL=localhost:5022
PAYMENTS_GRPC_BIND_URL=0.0.0.0:5022
PAYMENTS_GRPC_TIMEOUT_MS=1000
PAYMENTS_RPC_TIMEOUT_MS=1000
PAYMENTS_RPC_MAX_RETRIES=2
PAYMENTS_RPC_BACKOFF_MS=150